/* index.css */

/* Basic styles for the whole page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a2c2e6, #e0f7fa);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    background: linear-gradient(135deg, #a2c2e6, #e0f7fa);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    border: 3px solid #00bcd4; /* Teal border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: fadeIn 1s ease-in;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    animation: slideIn 0.8s ease-out;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #00bcd4; /* Teal color for focus */
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #00bcd4; /* Teal color */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0097a7; /* Slightly darker teal for hover effect */
}

.login-link {
    margin-top: 1rem;
    text-align: center;
}

.login-link p {
    margin: 0;
    color: #555;
}

.login-btn {
    color: #00bcd4; /* Teal color for link */
    text-decoration: none;
    font-weight: bold;
}

.login-btn:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
